.main {
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
}

.flex-horizontal {
  display: flex;
  justify-content: space-between;
}

.paragraph {
  font-size: 20px;
}

.block-text {
  width: 100%;
  max-width: 49%;
}